/* ============================================глобальні скидання стилів ========================================*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.input {
  font-family: inherit;
}

/*скинути налаштування для філсетів (це як діви у модальному вікні) */
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  outline: none;
}

/* ==============================================локальні стилі ================================================*/

html, body {
  height: 100%;
}

body {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 40px;
  background-image:   linear-gradient(rgba(255, 255, 255, 0.614), rgba(182, 171, 144, 0.601)), url(./fon.png);
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(85, 52, 12);

  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.button-get-all, .btn-get, .btn-add,.btn-del{
  width: 400px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: rgb(255, 234, 208);
  border-radius: 10px;
  border: none;
  transition: all 300ms ease-in-out;
}

.button-get-all:hover, .btn-get:hover, .btn-add:hover, .btn-del:hover {
  background-color: rgb(252, 222, 185);
  transform: scale(1.05);
}

.input-get, .txt-add, .input-add {
  width: 400px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: rgb(255, 244, 231);
  border-radius: 10px;
  border: none;
  transition: all 300ms ease-in-out;
}
.input-get:hover, .txt-add:hover, .input-add:hover {
  border: rgb(255, 255, 255);

}
